/*-цвет основного текста h - #212121*/
/*-цвет h1 -белый #FFFFFF-*/
/*-цвет secondary текста р #757575-*/
/*-цвет  асцент текста-blue #2196F3*/

/*-цвет  background: #F5F5F5; */
/*-цвет  footera background: #2F303A; або rgba(47, 48, 58, 1)*/
/*-цвет background вторичний F5F4FA*/
/* -цвет button при ховері фокусі ектів #188CE8 */
/* -цвет tel в footer rgba(255, 255, 255, 0.6);*/

:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--accent-button-color: #188ce8;
	--primery-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--hero-section-bg-color: #2f303a;
	--logo-color: #000000;
	--footer-tel-mail-color: rgba(255, 255, 255, 0.6);
	--border: #eeeeee;
	--border-clients: #AFB1B8;
	
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
}

ul {
	padding-left: 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* * {
	outline: 1px solid tomato;
} */
body {
	color: var(--primery-text-color);
	background-color: var(--primery-bg-color);
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
	
}
.list {
	list-style: none;
}

.logo {
	color: var(--logo-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}
.logo:hover,
.logo:focus {
	color: var(--accent-color);
}
.logo-web {
	color: var(--accent-color);
}
.logo-studio {
	color: var(--primery-bg-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	display: block;
	margin-bottom: 20px;
}

.logo-studio:hover,
.logo-studio:focus {
	color: var(--accent-color);
}
/* header */
.header-part {
	border-bottom: 1px solid #eeeeee;
}
.main-nav {
	display: flex;
	align-items: center;
}

.header-part .link {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.link:hover,
.link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}
.contakts {
	display: flex;
	margin-left: auto;
}
.contakts-link {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primery-text-color);
	align-items: center;
	justify-content: center;
	gap: 10px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
	text-decoration: none;
	fill: var(--primery-text-color);
}
.contakts .item + .item {
	margin-left: 50px;
}

.contakts .contakts-link:hover,
.contakts .contakts-link:focus {
	color: var(--accent-color);
	fill: var(--accent-color);
} 

.site-nav {
	display: flex;
	margin-left: 93px;
}
.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

/* Hero- Section  */

.hero-section {
	background-color: var(--hero-section-bg-color);
	text-align: center;
	padding: 200px 0;
	background-image: linear-gradient(
		to right, 
		rgba(47, 48, 58, 0.4), 
		rgba(47, 48, 58, 0.4)
		), url('../images/hero.jpg');
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;

}
.hero-title {
	margin-bottom: 30px;
	color: var(--primery-bg-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 47px;
}
/* Button */
.button {
	border-radius: 4px;
	display: inline-block;
	padding: 6px 22px;
	min-width: 73px;
	text-align: center;
	border: none;

	color: var(--primery-bg-color);
	background-color: var(--accent-color);

	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
}

.hero-button {
	color: var(--primery-bg-color);
	background-color: var(--accent-color);
	cursor: pointer;
	padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
	color: var(--primery-bg-color);
	background-color: var(--accent-button-color);
}
.hero-button:active {
	color: var(--primery-bg-color);
	background-color: var(--accent-button-color);
}

/* sectoin features */

.section-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}
/*  Features */
.features .title {
	color: var(--title-text-color);
}
.features {
	display: flex;
}

.features .item + .item {
	margin-left: 30px;
}
.features .item {
	width: 270px;
}

.title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}
.features-svg {
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background-color: var(--secondary-bg-color);
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* What we do */

.whatwedo {
	display: flex;
}

.whatwedo .item + .item {
	margin-left: 30px;
}
.whatwedo .foto {
	display: block; 
}
.section-whatwedo {
	padding-top: 47px;
	padding-bottom: 94px;
}

/* section Taem */
.team {
	display: flex;
}
.team .team-color + .team-color {
	margin-left: 30px;
}
.team-title {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}

.section-team {
	background-color: var(--secondary-bg-color);
	padding: 94px 0;
}
.team-color {
	background-color: var(--primery-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
	0px 1px 1px rgba(0, 0, 0, 0.14), 
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-color .item {
	display: block;
}

.team-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 16px;
}
.social-list {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.social-item:not(:last-child) {
	margin-right: 10px;
}
.social-link {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	
}
.social-link:hover,
.social-link:focus {
	background-color: var(--accent-color);

}
.social-icon {
	fill: var(--border-clients);
}
.social-link:hover svg,
.social-link:focus svg {
	fill: var(--primery-bg-color);
}


/* section klients */
.section-clients {
	padding: 94px 0;
}

.clients {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border-radius: 4px;
	border: 1px solid var(--border-clients);
	fill: var(--border-clients);
}

.clients-link:hover,
.clients-link:focus {
	fill: var(--accent-color);
	border-color: var(--accent-color);
} 


/* Fotter */
.foter {
	background-color: var(--hero-section-bg-color);
	padding: 60px 0;
}
.foter-adres .link {
	display: block;
	margin-top: 9px;
}

.link-address {
	color: var(--primery-bg-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	display: block;
}
.foter .link {
	color: var(--footer-tel-mail-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.foter .link:hover,
.foter .link:focus {
	color: var(--accent-color);
}

.foter-all {
	display: flex;
	align-items: baseline;
}
.foter-two {
	margin-left: 70px;

}
.social-foter {
	display: flex;
	align-items: center;
	justify-content: center;

}
.title-foter {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primery-bg-color);
}
.foter-link {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(68, 69, 78, 1) ;
}
.foter-icon {
	fill: var(--primery-bg-color)
}
.foter-link:hover,
.foter-link:focus {
	background-color: var(--accent-color);
}
.foter-item:not(:last-child) {
	margin-right: 10px;
}

/* Portfolio */

/* main site */

.main-site {
	padding-top: 94px;
	padding-bottom: 100px;
}

.main-list {
	display: flex;
	justify-content: center;
	margin-bottom: 34px;
}
.main-list .item + .item {
	margin-left: 8px;
}

.main-button {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	cursor: pointer;
}

.main-button:hover,
.main-button:focus {
	color: var(--primery-bg-color);
	background-color: var(--accent-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-button:active {
	color: var(--primery-bg-color);
	background-color: var(--accent-color);
}

.list-works {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.works .item {
	display: block;
}


.title-works {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.text-works {
	color: var(--primery-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}
.portfolio-title {
	padding: 20px 24px;
	border-top: 0;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.portfolio-link {
	text-decoration: none;
	display: block;
}
.portfolio-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
	0px 4px 4px rgba(0, 0, 0, 0.06), 
	1px 4px 6px rgba(0, 0, 0, 0.16);
}